spring.application.name=iot-simulator
server.port=8081

encoded.username=YOUR_USERNAME_FOR_RABBITMQ
encoded.password=YOUR_PASSWORD_FOR_RABBITMQ

neo4j.uri=bolt://<YOUR_IP_FOR_NEO4J>
neo4j.user=YOUR_USERNAME_FOR_NEO4J
neo4j.password=YOUR_PASSWORD_FOR_NEO4J
